

<h1> Componente Principal</h1>

<!-- ol -> ordered list-->
<ul>
  <!-- li -> list item-->
  <li>
    <!-- a -> anchor-->
    <a routerLink="/inicio" >Inicio</a>
  </li>
  <li>
    <a routerLink="/menu">Menu</a>
    <ol>
      <li>
        <a routerLink="/menu/gestion-usuarios">Gestion Usuario</a>
        <ul>
          <li>
            <a routerLink="/menu/gestion-usuarios/crear-usuarios">Crear Usuario</a>
          </li>
          <li>
            <a routerLink="/menu/gestion-usuarios/actualizar-usuarios">Actualizar Usuario</a>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="/menu/gestion-productos">Gestion Productos</a>
        <ul>
          <li>
            <a routerLink="/menu/gestion-productos/crear-producto">Crear Producto</a>
          </li>
          <li>
            <a routerLink="/menu/gestion-productos/actualizar-producto">Actualizar Producto</a>
          </li>
        </ul>
      </li>
    </ol>
  </li>
  <li>
    <a routerLink="/perfil">Perfil</a>
  </li>
  <li>
    <a routerLink="/login">Login</a>
  </li>
  <li></li>

</ul>

<router-outlet></router-outlet>

<p>Footer</p>
