<h2>Crear raza</h2>

<p>Cree razas de animales</p>

<form #razaFormulario="ngForm"
      novalidate
      (submit)="crearRaza(razaFormulario)">

 {{raza.nombre}}
  <pre>
  formulario valido:{{razaFormulario.valid}}
  formulario errores:{{razaFormulario.errors}}
  formulario touched:{{razaFormulario.touched}}
  formulario untouched:{{razaFormulario.untouched}}
  formulario dirty:{{razaFormulario.dirty}}
  formulario pristine:{{razaFormulario.pristine}}

  </pre>

  <div>
    <label for="nombre">Nombre</label>
    <!-- Two way data binding -->
    <!-- HTML -> COMPONENTE -->
    <input id="nombre"
           name="nombre"
           required
           type="text"
           placeholder="Escribe el nombre de una raza"
           [(ngModel)]="raza.nombre"
    >


  </div>

  <div>
    {{raza.apellido}}

    <label for="apellido">Apellido</label>

    <input id="apellido"
           name="apellido"
           type="text"
           placeholder="Escribe el apellido de una raza"
           [(ngModel)]="apellido"
    >
  </div>


  <button type="button"> Button </button>
  <button type="reset"> Reset </button>
  <button type="submit"> Submit </button>

</form>


